* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f2430;
    padding-top: 80px;

    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #0d2230;
    box-shadow: 0 30px 40px rgba(2, 14, 22, 0.6);
    width: 300px;
    padding-top: 15px;
    margin: auto;
    padding-bottom: 15px;
    min-width: 20rem;
    max-width: 30rem;
}

.image1 {
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 262px;
    height: auto;
    margin-bottom: 15px;
}        
          
        .effect-1 .overlay-icon {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            opacity: 0;
            transition: all 0.5s ease;
        }
        
        .effect-1:hover .overlay-icon {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }

.horizontal-line {
    border-bottom: 1px solid #2b546b;
    width: 70%;
    border-radius: 3px;
    padding-top: 13px;
}

h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 20px;
    padding-right: 90px;
}

h1:hover {
    color: #00fff7;
}


.description {
    color: #8ca0b3;
    margin-bottom: 12px;
    display: block;
    text-align: start;
    padding-left: 33px;
    font-size: 16px;
}

.image2 {
    height: 14px;

}

#eth {
    font-size: 16px;
    color: #00fff7;

}

#day {
    color: #8ca0b3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding-left: 80px;
}

.author-image {
    display: inline-flex;
    gap: 14px;
    padding-right: 60px;
    padding-top: 14px;
}

.image3 {
    width: 27px;
    height: 27px;

}

h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 11px;
    font-family: sans-serif;
}

.span1 {
    color: #fff;
}

.span1:hover {
    color: #00fff7;
}















.attribution {
    font-size: 11px;
    text-align: center;
    padding-top: 135px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}