@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
    padding-top: 80px;
    font-family: "Outfit", sans-serif;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: hsl(216, 50%, 16%);
    box-shadow: 0 30px 40px rgba(2, 14, 22, 0.6);
    width: 300px;
    padding-top: 15px;
    margin: auto;
    padding-bottom: 15px;
    min-width: 20rem;
    max-width: 30rem;
}

.image1 {
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 287px;
    height: auto;
    margin-bottom: 15px;
}

.card-img {
    border-radius: 10px;
    overflow: hidden;
    position: relative
}

.card-img:hover::before {
    opacity: .7;
}

.card-img::before {
    content: url("images/icon-view.svg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 255, 247, .5);
    transition: all .5s;
    opacity: 0;
    border-radius: 11px;
}

/* .effect-1 .overlay-icon {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            opacity: 0;
            transition: all 0.5s ease;
        }
        
        .effect-1:hover .overlay-icon {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
           
        } */

.horizontal-line {
    border-bottom: 1px solid #2b546b;
    width: 70%;
    border-radius: 3px;
    padding-top: 13px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 20px;
    padding-right: 90px;
}

h1:hover {
    color: hsl(178, 100%, 50%);
}


.description {
    color: hsl(215, 32%, 27%);
    margin-bottom: 12px;
    display: block;
    text-align: start;
    padding-left: 33px;
    font-size: 16px;
}

.image2 {
    height: 14px;

}

#eth {
    font-size: 16px;
    color: #00fff7;

}

#day {
    color: hsl(215, 32%, 27%);
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding-left: 80px;
}

.author-image {
    display: inline-flex;
    gap: 14px;
    padding-right: 60px;
    padding-top: 14px;
}

.image3 {
    width: 27px;
    height: 27px;

}

h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    font-size: 11px;
    font-family: sans-serif;
}

.span1 {
    color: hsl(0, 0%, 100%);
}

.span1:hover {
    color: hsl(178, 100%, 50%);
}